* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1574545640323-59dc7a2b4a6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

h1 {
  color: #fff;
  font-size: 50px;
}

ol {
  list-style: none;
  color: #edff7d;
}

.counter {
  margin-top: 20px;
}

ol {
  display: flex;
}

span.counts {
  font-size: 40px;
  font-weight: bold;
  margin: 0 20px;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
